---
layout: base.njk
title: test
pagination:
    data: routes
    size: 1
    alias: route
permalink: "{{ route.dir | slug }}/{{ route.name | slug }}/"
---

{% if route.dir %}
	<div class="content">
	  <div id="root"></div>
	  <pre><code>{% code route %}</code></pre>
	</div>
	<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
	<script src="https://unpkg.com/pixi.js@5/dist/pixi.js"></script>
	<script src="https://unpkg.com/gosling.js@0.9.3/dist/gosling.js"></script>
	<script>
		var SPEC = {% spec route %};
		gosling.embed(
			document.getElementById("root"),
			SPEC,
			{ padding : 0 }
		);
	</script>
{% endif %}
