---
pagination:
    data: routes
    size: 1
    alias: route
permalink: "{{ route.dir | slug }}/{{ route.name | slug }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔧</text></svg>"
    />
    <link rel="stylesheet" href="https://unpkg.com/higlass@1.11.3/dist/hglib.css">
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/styles/github.min.css">
    <title>ipygosling | {{ route.title }}</title>
    <style>
      body {
        display: grid;
        grid-template-columns: minmax(150px, 10%) 1fr;
        padding: 0;
        margin: 0;
        font-family: system-ui, serif;
      }

      .sidebar {
        height: 100vh;
        font-size: 0.8em;
        background-color: #f2f2f2;
      }

      .content {
        padding: 2rem;
      }

      #root {
        min-height: 20rem;
      }
    </style>
  </head>
  <body>
  <div class="sidebar">
    <ul>
      {% for r in routes %}
        <li><a href="/{{ r.dir }}/{{ r.name }}">{{ r.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="content">
    {% if route.dir %}
      <div id="root"></div>
      <pre><code>{% code route %}</code></pre>

      <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
      <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
      <script src="https://unpkg.com/pixi.js@5/dist/pixi.js"></script>
      <script src="https://unpkg.com/gosling.js@0.9.3/dist/gosling.js"></script>
      <script>
        var SPEC = {% spec route %};
        gosling.embed(document.getElementById("root"), SPEC, {padding : 0});
      </script>
    {% endif %}
  </div>
  </body>
</html>
