name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: [3.6, 3.7, 3.8, 3.9]

    name: Python ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 15

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - name: Build JavaScript
        run: yarn build:js

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Run pytest
        run: pytest --doctest-modules gosling
